/* Ensure you have this Google Font import if you use the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* These three lines are ESSENTIAL for Tailwind to work. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go below, but are often not needed with Tailwind */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For Leaflet map to render correctly */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}
